body {
    background-image: url("./imgs/236bc690dd5111c2863a9696320accd2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#m {
    color: aliceblue;
}

#s {
    color: greenyellow;
}

#ben {
    color: bisque;
}

#bas {
    color: beige;
}

